@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  padding: 2rem;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.3rem;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #fe0303;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s all;
  filter: brightness(100%) invert(100%); /* делает иконку чёрной */
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
  filter: brightness(0.7) invert(100%); /* слегка осветляет иконку */
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.player {
  transition: opacity 1s;
  transition-delay: 1.5s;
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  background-color: rgba(211, 211, 211, 0.8); 
  border-radius: 12px;
  padding: 1rem; /* по желанию */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 230px;
  text-align: left;
  transition: opacity 1s;
  transition-delay: 1.5s;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.player {
  background-color: rgba(211, 211, 211, 0.8); /* светло-серый с прозрачностью 0.5 */
  border-radius: 12px; /* закруглённые углы */
  padding: 1rem; /* по желанию */
  width: 15vw;
}

.player-extra {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.progress-bar,
.volume-slider {
  width: 100%;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city2 {
  width: 200px;
  height: 34px;
  padding: 5px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;  
  border: 0;
  outline: 0;
  background-color: transparent;
}

.hidden {
  display: none;
}

.city::placeholder {  
  font-size: 20px;
  color: #000000;
  opacity: .6;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  font-family: 'Arial-MT';
  font-size: 50px;
  transition: opacity 1s;
  transition-delay: 1.5s;
}

.transperent-block {
  transition: opacity 1s;
  transition-delay: 1.5s;
  opacity: 0;
  display: none;
}

.date {
  font-size: 24px;
  transition: opacity 1s;
  transition-delay: 1.5s;
}

.greeting-container {
  background-color: rgba(211, 211, 211, 0.8); 
  border-radius: 12px;
  padding: 0 1rem; /* по желанию */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 40px;
  transition: opacity 1s;
  transition-delay: 1.5s;
  width: 50%;
}

.time_date {
  display: flex;
  flex-direction: column;
  background-color: rgba(211, 211, 211, 0.8); 
  border-radius: 12px;
  padding: 1rem; /* по желанию */
}


@media (max-width: 430px) {
  .greeting {
    font-size: 22px;
    align-items: center;
    align-content: center;
    padding-bottom: 30px;
  }
  .name {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .name::placeholder {
    font-size: 22px;
    align-content: center;

  }
  .play-item{
    word-spacing: nowrap;
    text-overflow: ellipsis;
  }
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

@media (max-width: 600px) {
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 14px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 100px;
  }
  .play-item {
    font-size: 13px;
  }
}

.name {
  flex: 1;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #000000;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #000000;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 30vh;
  padding: 2rem;
  transition: opacity 1s;
  transition-delay: 1.5s;
}

.quoteOfTheDay {
  width: 33%;
  transition: opacity 1s;
  transition-delay: 1.5s;
  background-color: rgba(211, 211, 211, 0.8); 
  border-radius: 12px;
  padding: 1rem; /* по желанию */
}

.change-quote {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-image: url("../assets/svg/reload.svg");  
  transition: opacity 1s;
  transition-delay: 1.5s;
}

.author {
  font-weight: 700;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Segoe UI', sans-serif;
}

/* Кнопка */
.dropbtn {
  background-color: rgba(211, 211, 211, 0.8); /* светло-серый с прозрачностью 0.5 */
  border-radius: 12px; /* закруглённые углы */
  color: black;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropbtn:hover {
  background-color: #767e84;
}

/* Выпадающее содержимое */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  z-index: 1;
  margin-top: 8px;
  overflow: hidden;
  animation: fadeIn 0.3s ease-in-out;
}

/* Ссылки внутри */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-content a:hover {
  background-color: #767e84;
  color: #000;
}

/* Показать меню */
.show {
  display: block;
}

/* Анимация */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 300px;
}

input {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  background-color: #2c2c2c;
  color: #000000;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

input:focus {
  background-color: #eeeeee;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.autocomplete-items {
  position: absolute;
  border-radius: 0 0 6px 6px;
  background-color: #333;
  border: 1px solid #555;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
}

.autocomplete-items div {
  padding: 12px 16px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border-bottom: 1px solid #444;
  transition: background-color 0.2s ease;
}

.autocomplete-items div:hover {
  background-color: #444;
}

.autocomplete-active {
  background-color: #007bff !important;
  color: #fff;
}

/* POPUP */

.settings {
  position: fixed;
  right: 20px;
  top: 20px;
  background-repeat: no-repeat;
  opacity: .6;
}

.transperent-settings {
  transition: opacity 0.6s;
  opacity: 0;
}

.blockPopup {
  width: 580px;
  height: 452px;
  margin: 0 auto;
  top: 10vw;
  left: 30vw;
  position: absolute;
  background-color: rgba(25, 24, 24, 0.8);
  visibility: hidden;
  z-index: 3;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  transition: opacity 1s;
  transition-delay: 1.5s;
  background-color: rgba(211, 211, 211, 0.8); 
  border-radius: 12px;
  padding: 1rem; /* по желанию */
}

.blure {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 1;
  background-color: rgba(25, 24, 24, 0.7);
  transition: opacity 1s;
  transition-delay: 1.5s;
}

.settings_title {
  margin-bottom: 10px;
  opacity: .7;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.settings-line {
  margin-bottom: 5px;
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  opacity: .7;
}

.blockPopup h3 {
    opacity: .6;
    margin-top: 12px;
}


a {
  cursor: pointer;
}

a:hover {
  transition: 0.7s;
  color: rgb(199, 39, 39);
}

.is-hide {
  opacity: .5;
}

.volume-slider {
  /* width: 150px; */
  accent-color: #af844c; /* работает в большинстве современных браузеров */
}

/* --------------------TO DO LIST---------------------- */

.toDoList {
  position: fixed;
  width: 320px;
  height: 339px;
  margin: 0 auto;
  top: 10%;
  font-size: 25px;
  background-color: rgba(25, 24, 24, 0.9);
  color: #C5B358;
  visibility: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  transition: opacity 1s;
  transition-delay: 1.5s;
  border-radius: 30px;
}

.toDoInput {
  background-color: transparent;
  color: #C5B358;
}

/* --------------------TO DO LIST---------------------- */






